<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{shop/layouts/master_layout :: master_layout(
                                                ~{::title},
                                                ~{:: #main}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>List</title>

<!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
</head>
<body>
<main id="main">
    <form method="post" action="/admin/search" th:object="${userRole}">
        <select th:field="*{id}">
            <option th:each="a : ${userRoles}" th:value="${a.id}" th:text="${a.name}"></option>
        </select>
        <button class="btn btn-primary">Show</button>
        <br>
    </form>
    <table id="customers">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>UserName</th>
            <th>Password</th>
            <th>Role</th>
        </tr>
        <th:block th:each="p: ${admin}">
            <tr>
                <td th:text="${p.name}"></td>
                <td th:text="${p.address}"></td>
                <td th:text="${p.email}"></td>
                <td th:text="${p.username}"></td>
                <td th:text="${p.password}"></td>
                <td th:text="${p.userRole.name}"></td>
            </tr>
        </th:block>
    </table>
    <div>
        <a th:href="@{'/admin/list'(page=${admin.number - 1})}" role="button" class="btn btn-primary"
           th:if="${admin.hasPrevious()}">Previous</a>
        <span th:text="${admin.number + 1}"></span>
        /<span th:text="${admin.totalPages}"></span>
        <a th:href="@{'/admin/list'(page=${admin.number + 1})}" role="button" class="btn btn-primary"
           th:if="${admin.hasNext()}">Next</a>
    </div>
</main>

</body>
</html>
