<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div id="layoutSidenav_nav" th:fragment="menu">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Trang chủ</div>
                <a class="nav-link" href="/dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Quản lý</div>
                <a class="nav-link" href="/admin/users">
                    <div style="display: flex" sec:authorize="hasRole('ADMIN')">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Người dùng
                    </div>
                </a>
                <a class="nav-link" href="/products">
                    <div style="display: flex" sec:authorize="hasRole('SHOP')">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Sản phẩm
                    </div>
                </a>
                <a class="nav-link" href="/orders">
                    <div style="display: flex" sec:authorize="hasRole('SHOP')">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Đơn hàng
                    </div>
                </a>
                <a sec:authorize="hasRole('SHOP')" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Thống kê
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/statistical/month">Theo tháng</a>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
