<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{shop/layouts/master_layout :: master_layout(
~{::title},
~{:: #main}
)}">
<head>
    <meta charset="UTF-8">
    <title>Statistical Month</title>
</head>
<body>
<main id="main">
    <label class="col-sm-4  pull-left">Doanh thu theo thang</label>
    <div class="col-sm-12">
        <form action="/statistical/month/{month}" method="post">
            <select >
                <option th:value="0">Select month</option>
                <option th:value="${month}">Tháng 1</option>
                <option th:value="${month}">Tháng 2</option>
                <option th:value="${month}">Tháng 3</option>
                <option th:value="${month}">Tháng 4</option>
                <option th:value="${month}">Tháng 5</option>
                <option th:value="${month}">Tháng 6</option>
                <option th:value="${month}">Tháng 7</option>
                <option th:value="${month}">Tháng 8</option>
                <option th:value="${month}">Tháng 9</option>
                <option th:value="${month}">Tháng 10</option>
                <option th:value="${month}">Tháng 11</option>
                <option th:value="${month}">Tháng 12</option>
            </select>
            <input style="background-color: #c8ff00" type="submit" value="Check">
        </form>
    </div>
    <span style="color: red" th:if="${totalByMonth}" th:text="${totalByMonth}+'VND'"></span>
</main>
</body>
</html>
