<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<!--search by product name-->
<!--<form action="/products/search" method="post">-->
<!--    <input type="text" name="name" placeholder="Input name search">-->
<!--    <input type="submit" value="Search All Product">-->
<!--</form>-->
<!--<p>Search By Category Name</p>-->
<!--<form action="/products/searchCate" method="post" >-->
<!--    <select name="id">-->
<!--        <option th:each="p:${listProduct}" th:value="${p.id}" th:text="${p.name}"></option>-->
<!--    </select>-->
<!--    <input type="submit" value="Search Category">-->
<!--</form>-->

<footer th:replace="/layout :: footer"></footer>
</body>
</html>
