<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body onload="getTotalMoney();">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <a th:if="${currentUser}" class="navbar-brand" href="/logout">Logout</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                        <p th:text="'Welcome: '+${currentUser.name}"></p>
                    </a>
                </li>
            </ul>
            <form class="d-flex">
                <a th:href="'/cart/getCart'"><span id="your-cart"></span></i></a>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<h1>Product in cart</h1>

<table id="cart-list" th:if="${productInCarts}!=null" class="table table-bordered">
    <tr>
        <td>Image</td>
        <td>Name</td>
        <td>Number</td>
        <td>Price</td>
        <td>Money</td>
        <td>Shop</td>
        <td>Delete</td>
    </tr>
    <tr th:each="c:${productInCarts}">
        <td><img width="100px" th:src="'/'+${c.product.image}"></td>
        <td th:text="${c.product.name}"></td>

        <td>
            <button th:href="${c.id}" onclick="substrateOneQuantity($(this))">-</button>
            <input th:href="${c.id}" th:id="'numbers'+${c.id}" onkeyup="changeQuantity($(this))" type="text" th:value="${c.number}">
            <button th:href="${c.id}" onclick="plusOneQuantity($(this))">+</button>
        </td>
        <td th:text="${c.product.price}"></td>
        <td ><b th:text="${c.product.price*c.number}" th:id="'money'+${c.id}"></b></td>
        <td th:text="${c.product.shop.name}"></td>
        <td><a th:href="${c.id}" onclick="deleteBillDetail($(this))">Delete</a></td>
    </tr>
    <tr>
        <td colspan="4">Total Money</td>
        <td colspan="3"><b><span id="total-money"></span></b></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td colspan="3">
            <button onclick="checkout()">Checkout</button>
        </td>
    </tr>
</table>

<script type="text/javascript">

    function deleteBillDetail(a) {
        let billDetail = a.attr("href");
        $.ajax({
            type: "DELETE",
            url: "/cart/delete/" + billDetail,
            success: function () {
                a.parent().parent().remove()
            }
        });
        getTotalMoney();
        event.preventDefault();

    }

    function checkout() {
        $.ajax({
            type: "PUT",
            url: "/cart/checkout/",
            success: alert("da thanh toan")
        });
        document.getElementById('cart-list').innerHTML = 'Cart Empty';
        event.preventDefault();

    }

    function substrateOneQuantity(button) {
        let id = button.attr('href');
        let subId = 'numbers'+id;
        let numbers = document.getElementById(subId).value;
        if (numbers>1){
            document.getElementById(subId).value = parseInt(numbers) - 1;
            changeQuantity(button)
        }
        event.preventDefault();
    }


    function plusOneQuantity(button) {

        let id = button.attr('href');
        let subId = 'numbers'+id;

        let numbers = document.getElementById(subId).value;
        document.getElementById(subId).value = parseInt(numbers) + 1;
        changeQuantity(button)
        event.preventDefault();

    }

    function changeQuantity(button) {
        let id = button.attr('href');
        let subId = 'numbers'+id;

        let numbers = document.getElementById(subId).value;

        let billDetail =
            {
                id: id,
                number: numbers
            }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "PUT",
            url: "/cart/change-quantity-product-in-cart",
            data: JSON.stringify(billDetail),
            success: function (data) {
                updateMoneyAfterChange(data,id);
            },
        })
        event.preventDefault();


    }

    function updateMoneyAfterChange(data,id) {
        let subId = 'money'+id;
        document.getElementById(subId).innerHTML = data;
        getTotalMoney();

    }

    function getTotalMoney() {
        $.ajax({
            type: "GET",
            url: "/cart/get-all-money-in-cart",
            success: function (data) {
                document.getElementById('total-money').innerHTML = data;
            }
        });

    }

</script>
</body>
</html>