<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Product detail</h1>
<a th:href="'/cart/getCart'"> your cart</a>
<p th:text="'wellcome: '+${currentUser.name}"></p>


<table th:object="${billDetail}">
    <tr>
        <td>Image</td>
        <td th:text="${billDetail.product.image}"></td>
    </tr>
    <tr>
        <td>Name</td>
        <td th:text="${billDetail.product.name}"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td th:text="${billDetail.product.price}"></td>
    </tr>
    <tr>
        <td>Shop</td>
        <td th:text="${billDetail.product.shop.name}"></td>
    </tr>
    <tr>
        <td><input id="productId" th:value="${billDetail.product.id}" hidden=""></td>
        <td><input id="shopId" th:value="${billDetail.product.shop.id}" hidden=""></td>
        <td><label for="number">Number</label> </td>
        <td><input type="number" id="number"></td>
    </tr>

    <tr>
        <td>Mua</td>
        <td><button type="button" onclick="addToCart()">Add to cad</button>
        </td>
    </tr>

</table>
<script>

    function addToCart() {
        let productId = $('#productId').val();
        let shopId = $('#shopId').val();
        let number = $('#number').val();

        let billDetail =
            {
                product: {
                    id: productId,
                    shop: {
                        id: shopId,
                    }
                },
                number: number
            }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type:"POST",
            url:"/cart/add-to-cart",
            data: JSON.stringify(billDetail),
            success: alert("added to cart"),
        })
        event.preventDefault();

    }

</script>
</body>
</html>